# Ignore Maven build output
target/
**/target/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
!mvnw
!mvnw.cmd

# Ignore IntelliJ IDEA settings
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Eclipse / STS
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# Logs
*.log

# OS/system files
.DS_Store
Thumbs.db

# Misc
HELP.md